body{
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    background-color: rgba(128, 128, 128, 0.712);
    height: 100%;
}
.wrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 0;
}
.container{
    margin: 0 auto;
    max-width: 1053px;
    padding: 0 10px;
    height: 100%;
}
.main{
    flex: 1 1 auto;
}
.popup-content{
    height: 400px;
    width: 325px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
}
.header{
    width: 100%;
    height: 40px;
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.button{
    position: absolute;
    border: none;
    content: '';
    background: url(../img/ico01.svg) no-repeat;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 0;
    transform: rotate(90deg);
}
.block{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.548);
}
.list-content{
    position: absolute;
    top: 20px;
    right: 11px;
    opacity: 0;
    padding: 15px 20px;
    border-radius: 3px;
    background-color: #f0f0f0;
    list-style: none;
    animation-name: popout;
    animation-duration: 0.2s;
}
.list-item{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 5px;
    &:last-child{
        margin-bottom: 0;
    }
}
@keyframes popup{
    0%{
        opacity: 0;
        transform: translate(50%, -50%) scale(0.2);
    }
    100%{
        opacity: 1;
        transform: translate(0) scale(1);
        top: 20px;
        right: 11px;
    }
}
@keyframes popout{
    100%{
        opacity: 0;
        transform: translate(50%, -50%) scale(0.2);
    }
    0%{
        opacity: 1;
        transform: translate(0) scale(1);
        top: 20px;
        right: 11px;
    }
}
.active{
    top: 20px;
    right: 11px;
    opacity: 1;
    animation-name: popup;
    animation-duration: 0.2s;
}
.media{
    width: 140px;
    height: 100px;
    margin-right: 10px;
    &:last-child{
        margin-left: 0;
    }
}
.img{
    width: 100%;
    border-radius: 5px;
}
.tabs-wrapper {
	width: 600px;
	height: 400px;
	display: flex;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 40px;
	flex-flow: column wrap;
    background-color: #f0f0f0;
	overflow: hidden;
	box-shadow: 0px 0px 14px 4px rgba(#000,0.1);
    position: relative;
}
.tabs-nav {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
}
.tab-btn {
    flex-basis: 15%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: purple;
    border-bottom: 2px solid #f0f0f0;
    padding: 1em 0 1em 0;
    cursor: pointer;
}
.tabs-content{
    position: absolute;
    width: 100%;
    left: -5px;
    top: 50px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    transition: ease-in 0.3s;
}
.content{
    display: flex;
    padding: 10px 9px;
    color: white;
}
.activeTabHome{
    left: -5px;
}
.activeTab{
    border-bottom: 2px solid rgb(218, 12, 218);
}
.activeTabCats{
    left: -5px;
    animation: slidecats 0.5s forwards;
}
@keyframes slidecats {
    0%{
        left: -625px;
    }
    100%{
        left: -5px;
    }
}
.activeTabDogs{
    animation: sliderdogs 0.5s forwards;
}
@keyframes sliderdogs {
    0%{
        left: -5px;
    }
    100%{
        left: -625px;
    }
}
.activeTabDevs{
    animation: sliderdevs 0.5s forwards;
}
@keyframes sliderdevs {
    0%{
        left: -625px;
    }
    100%{
        left: -1240px;
    }
}

.placeholder-item {
    box-shadow: 0 4px 10px 0 rgba(33, 33, 33, 0.15);
    height: 50px;
    margin-bottom: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    &:last-child{
        margin-bottom: 0;
    }
}
.placeholder-item::before {
    content: '';
    display: block;
    position: absolute;
    left: -70px;
    top: 0;
    height: 100%;
    width: 70px;
    background: linear-gradient(to left, transparent 0%, #E8E8E8 50%, transparent 100%);
    animation: load 1.2s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
}
@keyframes load {
    from {
        left: -70px;
    }
    to   {
        left: 100%;
    }
}
.media-skeleton{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: lightgrey;
}
.input-skeleton{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 200px;
    height: 15px;
    margin-bottom: 10px;
    background-color: lightgrey;
}
.lock-display{
    max-width: 375px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: #f0f0f0;
    position: relative;
}
.lock-header{
    background-color: #f0f0f0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.lock-btn{
    background-color: #f0f0f0;
    border: none;
}
.lock-content{
    height: 500px;
}
.time{
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
.slider-down{
    position: absolute;
    top: -540px;
    max-width: 375px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
}
.up-btn{
    border: none;
    background-color: #fff;
}
.up-ico{
    transform: rotate(180deg);
}
.activeDown{
    animation: sliderdown 0.6s ease-in-out 0.4s forwards;
    z-index: 1;
}
@keyframes sliderdown{
    0%{
        top: -540px;
    }
    30%{
        opacity: 1;
        top: 0;
    }
    50%{
        opacity: 1;
        top: -160px;
    }
    70%{
        opacity: 1;
        top: 0;
    }
    80%{
        opacity: 1;
        top: -50px;
    }
    100%{
        opacity: 1;
        top: 0;
    }
}
.activeUp{
    animation-name: sliderup;
    animation-duration: .5s;
}
@keyframes sliderup{
    100%{
        top: -540px;
    }
    0%{
        top: 0;
    }
}
.scaleContentUp{
    animation: scaleContentUp 0.3s reverse;
    transform: scale(1);
}
@keyframes scaleContentUp {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
        background-color: rgba(226, 223, 223, 0.404);
        opacity: 0.7;
    }
}
.scaleContentDown{
    animation: scaleContentDown 0.2s reverse;
    transform: scale(0.9);
    background-color: rgba(226, 223, 223, 0.404);
    opacity: 0.7;
}
@keyframes scaleContentDown {
    100%{
        transform: scale(1);
    }
    0%{
        transform: scale(0.9);
    }
}
.cart{
    max-width: 375px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 0 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
    background-color: #f0f0f0;
}
.card-block{
    height: 500px;
    position: relative;
}
.cart-content{
    position: relative;
    z-index: 1;
    transform: scale(1);
}
.activeProduct{
    animation: cartOn 2s forwards;
}
.cart-btn{
    position: absolute;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 1;
    top: 5px;
    left: 10px;
}
.cart-box{
    position: absolute;
    background-color: #fff;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 10px 0 0 0;
    box-shadow: -5px -5px 8px -5px rgba(34, 60, 80, 0.6);
    width: 115px;
    bottom: 0;
    z-index: 0;
    right: -55px;
}
.activeCart{
    animation: cartBox 0.8s forwards;
    animation-delay: 1.3s;
}

@keyframes cartOn {
    0%{
        transform: translateX(0) scale(0.7);
    }
    50%{
        transform: translateX(170px) scale(0.4);
    }
    90%{
        transform: translate(170px, 415px) scale(0.2);
    }
    100%{
        transform: translate(230px ,415px) scale(0.2);
    }
}
@keyframes cartBox {
    0%{
        transform: translateX(0);
    }
    50%{
    transform: translateX(-60px)
    }
    100%{
        transform: translateX(0);
    }
}